.login-page header{
    background: linear-gradient(rgba(5, 10, 35, 0.65),rgba(44, 51, 88, 0.75));
    height: 120px;
}   
.img{
    filter:brightness(20%);
}
.login-page .card-text{
    font-size: smaller;
    margin-top: 20px;
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black; /* Outline effect */
    font-weight: 1000;
    color: #ffffff;
}
.login-page .button{
    text-align: end;
    font-size: small;
    color: black;
    background: azure;
    
}
.login-page .link{
    text-align: end;
    font-size: small;
    color: lightblue;
    
}
.login-page .card-title{
    margin-top: -20px;
    color: rgb(255, 247, 235);
    font-weight: 1000;

}
.login-page .icons{
    width: 60px;
    height: 60px;
    margin-right: 40px;
    filter: invert(40%) sepia(28%) saturate(486%) hue-rotate(174deg) brightness(95%) contrast(93%);
}