.home-page header{
    background-image: linear-gradient(rgba(5,10,35,0.75),rgba(5,10,35,0.75)), url(../../utils/images/isimm_beach2.jpg);
}
header{
    background-size: cover;
    background-position: center;
}
.blog-section{
    background-image: linear-gradient(rgba(32, 42, 86, 0.6),rgba(5,10,35,0.75)),url(../../utils/images/isimm_study_room.jpg);
    background-size: cover;
    background-position: center;
}

.icons{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    
  }

  @media only screen and (max-width: 992px) {
    #login.btn-outline-light {
      background-color: #484747 !important;
      color: #fff !important;
    }
  }

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #a7a3a3 !important;
}

@media (min-width: 900px){
  .navbar-expand-custom {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
  }
}